**/bin/*
!**/bin/*.md
!**/build/*.md
lib/tp.h
lib/libtp.a
lib/sqlite3.h
lib/libsqlite3.a
**/log4c-*/*
**/obj/*
!**/obj/*.md
log/*
tp_o/*
!tp_o/*.md 
**/*.o
**/*.a
**/*.out
**/*.swp
**/*.log
**/_*
**/core
**/log.*
**/.DS_Store
**/.libs
**/.deps
**/*.cache
**/*.la
**/*.lo
_*
